#map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#map-container {
  height: 100vh;
  width: auto;
}

.mapboxgl-popup {
  max-width: 400px;
  width: 120px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 40px;
  background: antiquewhite;
  position: absolute;
  padding: 5px;
}